.block-card {
  width: 100%;
  line-height: 1.3;
}
.block-card p {
  font-size: 15px;
  font-family: "Cuprum";
  margin-block-end: 3em;
}
.block-card h4 {
  margin-top: 0px;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 1em;
  font-family: "Cuprum";
}

.block-card h5 {
    margin-top: -15px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: "Cuprum";
}

.cont-card p,
h4, h5, 
span {
  color: #fafafa;
}

.cont-card {
    margin: 5%;
    /*float: left;*/
    position: relative;
    /*min-width: 1250px;*/
    min-height: 200px;
    overflow: hidden;
    background: #393939;
    padding: 60px 50px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #393939;
}
.e-author {
  background: none !important;
  font-family: "Cuprum";
  color: #fafafa;
  opacity: 0.8;
  font-size: 18px;
}

.s-date {
  font-family: "Cuprum";
  opacity: 0.8;
  font-size: 15px;
  width: 100%;
  position: relative;
}
.s-date span {
  color: #f3be81;
  position: absolute;
  right: 0px;
}

/*@media (min-width: 800px) {
  .u5-btn {
    font-size: 14px;
    padding-left: 36px;
    font-family: "Cuprum";
  }
}*/
/*.u5-btn::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background: currentColor;
  left: 0;
  width: 20px;
  top: 50%;
  margin-top: -1px;
  transition: transform 0.3s cubic-bezier(0.42, 0.01, 0.23, 1);
  transform-origin: left;
}
.u5-btn:hover::before {
  transform: scaleX(1.333);
}
@media (min-width: 800px) {
  .u5-btn::before {
    width: 30px;
  }
}*/
/*.u5-btn span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.42, 0.01, 0.23, 1);
}
.u5-btn:hover span {
  transform: translateX(12px);
}
@media (min-width: 800px) {
  .u5-btn:hover span {
    transform: translateX(18px);
  }
}
@media (max-width: 765px) {
  .cont-card {
    margin-left: 0;
    top: 0;
    margin-top: 35px;
  }
}

*/

.back a {
  position: absolute;
    font-family: "Cuprum";
    font-size: 17px;
    background-color: #f3be81;
    border: 1px solid #f3be81;
    color: #393939;
    padding: 7px 27px;
    text-transform: uppercase;
    text-decoration: inherit;
}

.back a:hover {
  position: absolute;
  font-size: 17px;
  background-color: #f19d3d;
  border: 1px solid #f3be50;
  color: #393939;
  padding: 7px 27px;
  /*border-radius: 5px;*/
  text-transform: uppercase;
  text-decoration: inherit;
}


@media screen and (max-width: 480px){
  .cont-card {
    display: block;
    margin-left: 0;
    top: 0;
    margin-top: 35px;
  }
}
