{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block body %}

<div class="ufive-feedback">
	<section id="feedback">
		<h1>Send Feedback</h1>

		<form action="/messages/add" method="POST">
			<div class="field name-box">
				<input id="name" minlength="3" name="firstname" placeholder="Insert your first name" type="text">
				<label for="name">First</label>
			</div>

			<div class="field name-box">
				<input  id="name" minlength="3" name="lastname" placeholder="Insert your last name" type="text">
				<label for="name">Last</label>
			</div>

			<div class="field email-box">
				<input  id="email" name="email" placeholder="Your E-mail" type="text"/>
				<label for="email">E-mail</label>
			</div>

			<div class="field msg-box">
				<textarea  id="msg" minlength="3" name="feedback" placeholder="Write your opinion..." rows="4"/></textarea>
				<label for="msg">Feedback</label>
			</div>

			<input class="button" name="add" type="submit" value="Send"/>

		</form>
	</section>
</div>

{% endblock %}