{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block body %}

<div class="ufive-feedback">
	<section id="feedback">
		<h1>Send Feedback</h1>

<form action="/messages/add" method="POST">
	<div class="field name-box">
		<input type="text"  id="name" name="firstname" placeholder="Insert your first name" minlength="3" Required>
		<label for="name">First</label>
	</div>

	<div class="field name-box">
		<input type="text"  id="name" name="lastname" placeholder="Insert your last name" minlength="3" Required>
		<label for="name">Last</label>
	</div>

	<div class="field email-box">
		<input type="text" id="email" name="email" placeholder="Your E-mail" Required/>
		<label for="email">E-mail</label>
	</div>

	<div class="field msg-box">
		<textarea id="msg" name="feedback" rows="4" placeholder="Write your opinion..." minlength="3" Required/></textarea>
		<label for="msg">Feedback</label>
	</div>

	<input class="button" type="submit"  name="add"  value="Send" />

		</form>
	</section>
</div>

{% endblock %}