{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block body %}

<div class="lwrap">
	<div class="u5-login-form">
		<h2>Admin Login</h2>
		<form action="/admin/users/login" method="post">
			<div class="u5-user-form">
				<input name="admin" required="" type="email">
				<label>Email</label>
			</div>
			<div class="u5-user-form">
				<input name="password" required="" type="password">
				<label>Password</label>
			</div>

			<a href="#">
				<span></span>
				<span></span>
				<span></span>

				<input class="lbutton" name="login"
				       type="submit" value="">
				Login
			</a>
		</form>
	</div>
</div>

{% endblock %}