{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block body %}

<div class="lwrap">
<div class="u5-login-form">
	<h2>Admin Login</h2>
	<form action="/admin/users/login" method="post">
		<div class="u5-user-form">
			<input type="email"  name="admin" required="">
			<label>Email</label>
		</div>
		<div class="u5-user-form">
			<input type="password" name="password" required="">
			<label>Password</label>
		</div>

		<a href="#">
			<span></span>
			<span></span>
			<span></span>

			<input class="lbutton" type="submit"
			       name="login" value="">
				Login
		</a>
	</form>
</div>
</div>

{% endblock %}