<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/feedback.css">
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/messages.css">
	<link rel="stylesheet" href="/css/msgstyle.css">
	<link rel="stylesheet" href="/css/ftstyle.css">
</head>
<body>

{% if session.email is defined%}
{% if session.password is defined%}

<div class="ufive-navigation">
<nav>
	<p>FEEDBACK</p>

	<button id="burger" class="burger">
		<div class="bar"></div>
		<div class="bar"></div>
	</button>

	<ul>
		<li><a href="/">Send Feedback</a></li>
		<li><a href="/messages/index">Messages</a></li>
		<li> 	<a href="#" id="logout">
			<span></span>
			<span></span>
			<span></span>
			<form action="/admin/users/logout" method="post">
				<input class="lbutton" type="submit"
				       name="logout" value=""> Logout </form>
		</a></li>
	</ul>
</nav>
</div>

{% endif %}
{% else %}

<div class="ufive-navigation">
	<nav>
		<p>FEEDBACK</p>

		<button id="burger" class="burger">
			<div class="bar"></div>
			<div class="bar"></div>
		</button>

		<ul>
			<li><a href="/">Send Feedback</a></li>
			<li><a href="/home/login">Login</a></li>
		</ul>
	</nav>
</div>


{% endif %}
{% block body %}
{% endblock %}

	<!-- footer -->
	<footer>
		<div class="copyright text-center">
			Copyright &copy; 2020 <span>uFive.Ru</span>
		</div>
	</footer>

</body>
</html>